.track {
    padding: 10px 0;
}

.track-label {
    font-size: .8em;
    padding: 2px 5px;
    background-color: #eee;
}

.gene-track-level {
    position: relative;
    padding: 2px 0;
    overflow: hidden;
}

.box {
    height: 20px;
    background-color: red;
    display: inline-block;
    position: absolute;
}

.overview {
    border: 1px solid black;
    height: 50px;
    overflow: hidden;
}
.overview-visible {
    background-color: yellow;
    height: 100%;
    width: 20%;
    position: relative;
    left: 20%;
}
