<div class='track' ng-show='track.show'>

  <div class='track-header'>
    <div class='btn-group'>
      <a class='btn btn-mini dropdown-toggle' data-toggle='dropdown' href='#'>{{ track.name }}<span class='caret'></span></a>
      <ul class='dropdown-menu'>
        <li><a ng-click='toggleShow()'>Hide</a></li>
        <li><a ng-click='toggleSettings()'>Settings</a></li>
      </ul>
    </div>
  </div>

  <div class='track-settings' ng-show='showSettings'>
    <label>Name</label>
    <input ng-model='track.label'/>
  </div>

  <div ng-include='track.template'></div>
</div>
